<div class="hero relative">

  <picture>
    <source srcset="https://placehold.it/2000x500" media="(min-width: 700px)" />
    <img src="https://placehold.it/700x700" alt="" class="hero__image" />
  </picture>

  <div class="hero__body absolute top-1/4 left-1/4">
    <h1 class="hero__title">My test page</h1>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>

</div>
